@{
    ViewData["Title"] = "Inicio";
}
<div class="row" id="conteudo">
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 linkLateral">

        <!--menu lateral processo seltivo-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Processo Seletivo </strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral nota fiscal-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Nota Fiscal Eletrônica </strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/nota fiscal eletronica.png" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral 2 via iptu-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> 2º via do IPTU </strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral compra licitacoes-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong>Compras & Licitações</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/compras e licitações.png" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral governo-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Governo</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Procuradoria-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Procuradoria</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Controladoria-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Controladoria</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Gabinete-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Gabinete</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Administração-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Administração</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Agricultura-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Agricultura</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral  Ação Social-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Ação Social</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Defesa Social-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Defesa Social</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Econômico-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> D. Econômico</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Educação e cul-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Educação e Cultrua</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Esporte-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Esporte</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Fazenda-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Fazenda</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Habitação-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Habitação</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Juv e Turismo-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Juv e Turismo</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Meio Ambiente-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Meio Ambiente</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Meio Obras-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Obras</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Meio Planejamento-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Planejamento</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Meio Saúde-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Saúde</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu latera lOuvidoria-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Ouvidoria</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->


    </div>


    <!--MEIO-->


















    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
        <!--Banner 1-->
        <div class="row marginbottom15p">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner imgbanner">
                        <div class="item active ">

                            <img src="~/images/Inicio/banner/banner1.png" alt="banner1" />
                        </div>

                        <div class="item">

                            <img src="~/images/Inicio/banner/banner2.jpg" alt="banner2" />
                        </div>

                        <div class="item">
                            <img src="~/images/Inicio/banner/banner1.png" alt="banner1" />
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

        </div>




        <!--Banner 2-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div id="myCarousel2" class="carousel slide " data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel2" data-slide-to="0" class="active"> </li>
                        <li data-target="#myCarousel2" data-slide-to="1"></li>
                        <li data-target="#myCarousel2" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner imgbannerPrincipal">
                        <div class="item active">
                            <img src="~/images/Inicio/banner/bannePrincipal1.jpg" alt="principal1" />
                            <div class="carousel-caption">
                                <h3>Los Angeles</h3>
                                <p>LA is always so much fun!</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="~/images/Inicio/banner/bannerPrincipal2.jpg" alt="principal1" />
                            <div class="carousel-caption">
                                <h3>Chicago</h3>
                                <p>Thank you, Chicago!</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="~/images/Inicio/banner/bannerPrincipal3.jpg" alt="principal1" />
                            <div class="carousel-caption">
                                <h3>New York</h3>
                                <p>We love the Big Apple!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>



        <!--Noticia-->
        <div class="row marginbottom15p margintop8">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <!--titulos da noticias-->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                        <hr class="linhahorizontalLateral " />

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 noticias">
                        <h3>Titulo da Noticia</h3>
                        <p>Descrição da Noticia</p>
                        <p>
                            <span>por Ascom</span>  Ultima Modificação em 30/03/17 |  17H30min  |
                            <img src="~/images/Inicio/redesociais/F1.png" alt="Facebook" title="Facebook" />
                            <img src="~/images/Inicio/redesociais/T2.png" alt="Tiwitter" title="Tiwitter"/>
                            <img src="~/images/Inicio/redesociais/g3.png" alt="Google +" title="Google +" />
                            <img src="~/images/Inicio/redesociais/i4.png"alt="i" +" title="i"  />


                        </p>

                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 imgNoticia">

                        <img src="~/images/Inicio/banner/imgnot.jpg" alt="Noticiasimg"  title="noticiamg" class="img-responsive"/>
                     </div>

                       


                    </div>


                <!--titulos da noticias-->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                        <hr class="linhahorizontalLateral " />

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 noticias">
                        <h3>Titulo da Noticia</h3>
                        <p>Descrição da Noticia</p>
                        <p>
                            <span>por Ascom</span>  Ultima Modificação em 30/03/17 |  17H30min  |
                            <img src="~/images/Inicio/redesociais/F1.png" alt="Facebook" title="Facebook" />
                            <img src="~/images/Inicio/redesociais/T2.png" alt="Tiwitter" title="Tiwitter" />
                            <img src="~/images/Inicio/redesociais/g3.png" alt="Google +" title="Google +" />
                            <img src="~/images/Inicio/redesociais/i4.png" alt="i" +" title="i" />


                        </p>

                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 imgNoticia">

                        <img src="~/images/Inicio/banner/imgnot1.jpg" alt="Noticiasimg" title="noticiamg" class="img-responsive" />
                    </div>




                </div>

                <!--titulos da noticias-->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                        <hr class="linhahorizontalLateral " />

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 noticias">
                        <h3>Titulo da Noticia</h3>
                        <p>Descrição da Noticia</p>
                        <p>
                            <span>por Ascom</span>  Ultima Modificação em 30/03/17 |  17H30min  |
                            <img src="~/images/Inicio/redesociais/F1.png" alt="Facebook" title="Facebook" />
                            <img src="~/images/Inicio/redesociais/T2.png" alt="Tiwitter" title="Tiwitter" />
                            <img src="~/images/Inicio/redesociais/g3.png" alt="Google +" title="Google +" />
                            <img src="~/images/Inicio/redesociais/i4.png" alt="i" +" title="i" />


                        </p>

                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 imgNoticia">

                        <img src="~/images/Inicio/banner/imgnot2.jpg" alt="Noticiasimg" title="noticiamg" class="img-responsive" />
                    </div>




                </div>


                <!--titulos da noticias-->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                        <hr class="linhahorizontalLateral " />

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 noticias">
                        <h3>Titulo da Noticia</h3>
                        <p>Descrição da Noticia</p>
                        <p>
                            <span>por Ascom</span>  Ultima Modificação em 30/03/17 |  17H30min  |
                            <img src="~/images/Inicio/redesociais/F1.png" alt="Facebook" title="Facebook" />
                            <img src="~/images/Inicio/redesociais/T2.png" alt="Tiwitter" title="Tiwitter" />
                            <img src="~/images/Inicio/redesociais/g3.png" alt="Google +" title="Google +" />
                            <img src="~/images/Inicio/redesociais/i4.png" alt="i" +" title="i" />


                        </p>

                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 imgNoticia">

                        <img src="~/images/Inicio/banner/imgnot.jpg" alt="Noticiasimg" title="noticiamg" class="img-responsive" />
                    </div>




                </div>

                </div>
            </div>
        </div>



        <!--FIM MEIO-->





































        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 linkLateral">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <center>
                        <p> Alfenas 30 de março de 2017</p>
                    </center>
                </div>

                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <center>
                        <img src="~/images/Inicio/clima tempo.png" class="marginbottom15p" alt="clima" title="clima" />
                    </center>
                </div>

                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <center>
                        <img src="~/images/Inicio/cidade escola.png" class="marginbottom15p" alt="clima" title="clima" />
                    </center>
                </div>


            </div>



            <!--menu lateral Procon -->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Procon </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/procon.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral Sine -->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Sine </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/sine.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral Ciac-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Ciac </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral  Uai tec-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Uai tec </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral MEI-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> MEI Empresas </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral Bombeiros-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Bombeiros </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral p- miliatar-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Policia Militar </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral Hospitais-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Hospitais </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral PSF-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> PSF's </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral t Público-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Transporte Público </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral APAE-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> APAE </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral  Bolsa Familia-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Bolsa Familia </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral  Fórum-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Fórum </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral  Defesa Civil-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Defesa Civil </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral  Coleta de Lixo-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Coleta de Lixo </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral  Coleta de Lixo-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Mercado Municipal </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
            <!--menu lateral  Coleta de Lixo-->
            <div class="row marginbottom15p">
                <a>
                    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                        <strong> Poda de Arvores </strong>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                        <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                    </div>
                </a>
            </div>
            <center>
                <hr class="linhahorizontalLateral" />
            </center>
            <!--Fim menu lateral-->
        </div>
    </div>
