@{
    ViewBag.Title = "Aeroporto";
    Layout = "~/Views/MasterPrincipal.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>Aeroporto</h3>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="texto1Head">Aeroporto Municipal de Alfenas</p>
        <p><strong>Endereço:</strong> Rua Prefeito Aristides de Souza s/n Bairro Jardim Aeroporto
        <p> <strong>Telefone:</strong> (35)  3291-1810</p>
           <p> Pista de 1.600 mt com balizamento noturno.</p>
        </p>
    </div>
</div>

