
@{
    ViewBag.Title = "EditaisSimplificado";
    Layout = "~/Views/MasterPrincipal.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>
            Processo Seletivo Simplificado
        </h3>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/Primeiro Resultado do PSF 002 2017 Servente 09 05 2017.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>SECRETARIA MUNCIPAL DE SAÚDE PROCESSO SELETIVO SIMPLIFICADO– 002/2017 SERVENTE DE PEDREIRO RESULTADO PRELIMINAR</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/RETIFICAÇÃOEDITALDESELEÇÃOINTEGRADORES-CIDADE ESCOLA.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>
                PROCESSO DE SELEÇÃO E RECRUTAMENTO Nº 001/2017 PARA BOLSAS-AUXÍLIOS DO PROGRAMA CIDADE ESCOLA
            </h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/PrimeiroResultadoPSF0012017ACS.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>PROCESSO SELETIVO SIMPLIFICADO – 001/2017 AGENTE COMUNITÁRIO DE SAÚDE PSF – BOA ESPERANÇA</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/processo.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Processo de seleção e recrutamento Nº 001/2017 para bolsas-auxílios do programa cidade escola</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/GABARITO.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>GABARITO DA PROVA - Processo Seletivo Simplificado – 001/2017</h3>
        </a>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/retificacao.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Retificação 2 do Processo Seletivo Simplificado da Secretaria Municipal de Saúde Edital  N°. 001/2017</h3>
        </a>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/Retificação de Edital nº. 001 2017.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Retificação 1 do Processo Seletivo Simplificado da Secretaria Municipal de Saúde Edital  N°. 001/2017</h3>
        </a>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/Retificação de Edital nº. 002 2017.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Retificação 1 do Processo Seletivo Simplificado da Secretaria Municipal de Saúde Edital  N°. 002/2017</h3>
        </a>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/Processo%20Seletivo%20Edital%20nº.001.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Processo Seletivo Simplificado da Secretaria Municipal de Saúde Edital  N°. 001/2017</h3>
        </a>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/Processo%20Seletivo%20Edital%20nº.002_0.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Processo Seletivo Simplificado da Secretaria Municipal de Saúde Edital  N°. 002/2017</h3>
        </a>
    </div>
</div>

