
@{
    ViewBag.Title = "EmissaoAlvara";
    Layout = "~/Views/MasterPrincipal.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>Emissão de Alvara</h3>

    </div>

</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">


        <!--Tabela 1-->
        <div class="col-md-12 col-lg-12 col-sm-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-lg-2">Data Publicacão</th>
                        <th class="col-lg-8">Nome Arquivo</th>
                        <th class="col-lg-1">Download</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Academia de Ginástica</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Academia de Ginástica.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Atividade Odontológica</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Atividade Odontológica.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Atividade Veterinária</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Atividades de Fisioterapia</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Atividades de Fisioterapia.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Clube Desportivo e Sauna</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>



                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Comércio Atacadista de Cosméticos e de Higiene Pessoal e Saneantes</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Atacadista de Cosméticos e de Higiene Pessoal e Saneantes.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Comércio Atacadista de Produtos para Saúde</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Atacadista de Produtos para Saúde.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>



                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Comércio Varejista de Alimentos</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Varejista de Alimentos.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Comércio Varejista de Cosméticos e de Higiene Pessoal e Saneantes</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Varejista de Cosméticos e de Higiene Pessoal e Saneantes.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Comércio Varejista de Suplementos Alimentares</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Varejista de Suplementos Alimentares.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Consultório de Profissional da Saúde</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Consultório de Profissional da Saúde.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Creche e Estabelecimento de Ensino</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Creche e Estabelecimento de Ensino.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Farmácia, Drogaria e Distribuidora de Medicamentos</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Farmácia, Drogaria e Distribuidora de Medicamentos.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">HospitaL, Clínica e Ambulatório</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/HospitaL, Clínica e Ambulatório.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Hotel, Motel, Pensão e similares</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Hotel, Motel,  Pensão e similares.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>


                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Indústria de Alimentos</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Indústria de Alimentos.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Indústria de Cosméticos</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Indústria de Cosméticos.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Indústria e Distribuidora de Domissanitários</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Indústria e Distribuidora de Domissanitários.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Laboratório de Análises Clínicas e Posto de Coleta</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Laboratório de Análises Clínicas e Posto de Coleta.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Lavanderia</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Lavanderia.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Ópticas</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Ópticas.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Salão de Beleza</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Salão de Beleza.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Serviço de Controle de Pragas</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Serviço de Controle de Pragas.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Serviço de Limpeza</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Serviço de Limpeza.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Serviços de Prótese Dentária</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Serviços de Prótese Dentária.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf">18/07/2016</a></td>
                        <td class="col-lg-8"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf">Serviços Funerários</a></td>
                        <td class="col-lg-1"><a href="~/Arquivos/Alvara/Serviços Funerários.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>




                </tbody>
            </table>
        </div>




    </div>

</div>

