
@{
    ViewBag.Title = "HinodeAlfenas";
    Layout = "~/Views/MasterPrincipal.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>Hino de Alfenas</h3>
        
    </div>



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="texto1Head">Letra: Maria da Conceição Carvalho (D. Zinica) </p>
        <p class="texto1Head">Música: Maestro Agenor Reis</p>
        <p>
           <p> És minha Alfenas querida</p>
        <p>uma jóia do Brasil</p>
        <p> surges tão bela e amena</p>
        <p> sob um doce céu de anil!</p>

        <p>  Tuas ruas e tuas praças</p>
        <p>   tem encantos que seduzem,</p>
        <p>   teus horizontes distantes</p>
        <p>   a meditar nos conduzem...</p>

        <p> Tuas Escolas são Templos</p>
        <p> abençoados por Deus;</p>
        <p> nelas estudam, aprendem</p>
        <p> os jovens e filhos teus.</p>

        <p> Tuas indústrias tem fama,</p>
        <p> tuas igrejas tão belas</p>
        <p> a rezar o povo chama</p>
        <p> e a piedade mora nelas.</p>

        <p> Teu vermelho sol poente,</p>
        <p> quando ao longe vai tombando</p>
        <p> encanta, deslumbra a gente.</p>
        
        <p>
            Tuas noites tão serenas
        </p>
        <p>    sao doçuras, sao poemas,</p>
        <p> Tens feitiço - miha Alfenas!</p>
        
</div>
    </div>

