
@{
    ViewBag.Title = "Medicamentos";
    Layout = "~/Views/MasterPrincipal.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>
            Lista de Medicamentos
        </h3>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/chamadopublico/Listademedicamentos.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h4>Esta é a relação de medicamentos distribuídos pelo Município de Alfenas através da CDM - Central de Distribuição de Medicamentos. Maiores informações ligar no telefone 3698-1713</h4>
        </a>
    </div>
   
</div>

