
@{
    ViewBag.Title = "Planejamento";
    Layout = "~/Views/MasterPrincipal.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>
           Planejamento
        </h3>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/Planejamento/Breve%20descri%C3%A7%C3%A3o%20dos%20produtos.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Breve descrição dos produtos</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/Planejamento/DECRETO%201.865%20-%202017.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>DECRETO 1.865 - 2017</h3>

        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/Planejamento/Produto_4_V04_P%C3%B3s_Confer%C3%AAncia.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Produto 4 V04 Pós Conferência</h3>
        </a>
    </div>


    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/Planejamento/Produto1_Plano_Trabalho_V0R9.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Produto1 Plano Trabalho V0R9</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/Planejamento/Produto3_Prognostico_ Alfenas_V1_R4.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Produto3 Prognostico Alfenas V1 R4</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="~/Arquivos/Planejamento/Produto5_ Avaliacao_Sistematica_V0R0.pdf">
            <p>Prefeitura Municipal de Alfenas</p>
            <h3>Produto5 Avaliacao Sistematica V0R0</h3>
        </a>
    </div>
</div>

