@{
    ViewBag.Title = "PrefeitoeVice";
    Layout = "~/Views/MasterPrincipal.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>Prefeito e Vice-prefeito</h3>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginbootom30">
        <p class="texto1Head">Prefeito</p>

        <h4>Luiz Antônio da Silva</h4>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginbootom30">
        <p class="texto1Head">Vice-prefeito</p>

        <h4>Eliacim do Carmo Lourenço</h4>
    </div>
</div>
