
@{
    ViewBag.Title = "Serviço";
    Layout = "~/Views/MasterPrincipal.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>Serviços</h3>

    </div>

</div>


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="panel panel-info">
            <div class="panel-heading">Consulta</div>
            <div class="panel-body">

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" id="cnc" class="btn btn-default">Certidão negativa de contribuinte </button>
                    <button type="button" id="cne" class="btn btn-default">Certidão negativa de econômico </button>
                    <button type="button" id="cni" class="btn btn-default">Certidão negativa de imóvel  </button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Serviços Prefeitura
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="gi">Guia de IPTU</a></li>
                            <li><a href="#" id="sc">Situação do Contribuinte</a></li>
                            <li><a href="#" id="isspf">ISS Pessoa Física/Taxas</a></li>
                            <li><a href="#" id="vald">Validação de documentos </a></li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>


    </div>
</div>







<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Certidão Negativa</div>
            <div id="load" class="hidden"><p>espere</p></div>
            <div class="panel-body"><iframe id="ifr" style="height:500px;" class="col-lg-12 col-md-12 col-sm-12" src="https://e-gov.betha.com.br/cidadaoweb3/resource.faces?params=3UopnW5xjGkWFHfAys1zxw=="></iframe></div>
        </div>
    </div>


</div>

<script>
    $("#cnc").click(function () {

        $("#ifr").attr('src', 'https://e-gov.betha.com.br/cidadaoweb3/resource.faces?params=3UopnW5xjGkWFHfAys1zxw==');

    });

    $("#cne").click(function () {

        $("#ifr").attr('src', 'https://e-gov.betha.com.br/cidadaoweb3/resource.faces?params=3UopnW5xjGkOwiMZlIpXjw==');
    });


    $("#cni").click(function () {

        $("#ifr").attr('src', 'https://e-gov.betha.com.br/cidadaoweb3/resource.faces?params=3UopnW5xjGloUgGjDyVwLg==');
    });


    //Segundo menu


    $("#gi").click(function () {

        $("#ifr").attr('src', 'https://e-gov.betha.com.br/cidadaoweb3/resource.faces?params=3UopnW5xjGmh0askFTtQsA==');
    });

    $("#sc").click(function () {

        $("#ifr").attr('src', 'https://e-gov.betha.com.br/cidadaoweb3/resource.faces?params=3UopnW5xjGkzYD52EgPgvg==');
    });

    $("#isspf").click(function () {

        $("#ifr").attr('src', 'https://e-gov.betha.com.br/cidadaoweb3/resource.faces?params=3UopnW5xjGn2TvhQ8sLUAg==');
    });

    $("#vald").click(function () {

        $("#ifr").attr('src', 'https://e-gov.betha.com.br/cidadaoweb3/resource.faces?params=3UopnW5xjGnXLfmzmp0cUQ==');
    });


</script>