
@{
    ViewBag.Title = "TermoConstrução";
    Layout = "~/Views/MasterPrincipal.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>Termos de Construção</h3>

    </div>

</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12" >

        <!--Tabela 1-->
        <div class="col-md-12 col-lg-12 col-sm-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-lg-2">Data Publicacão</th>
                        <th class="col-lg-8">Nome Arquivo</th>
                        <th class="col-lg-1">Download</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">DECRETO 539 DE 17 DE MAIO DE 2012.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/DECRETO_539_DE_17_DE_MAIO_DE_2012.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Restricoes urbanisticas dos loteamentos.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/restricoes_urbanisticas_dos__loteamentos.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">RESTRIÇOES JARDIM DA COLINA.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/RESTRICOES_JARDIM_DA_COLINA.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Decreto 121 de 2007- normas geoprocessamento.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/decreto_121_de_2007-_normas_geoprocessamento.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Documentação necessária para obtençaõ de licenças.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/documentacao_necessaria_para_obtencao_de_licencas.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Estabelce norma para construçao urbana.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/Estabelce_norma_para_construcao_urbana.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Lei nº2595 de 09 de 09 de 1994.pdf</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/lei__nº2595_de_09_de_09_de_1994.pdf.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Lei 3534-03- INSTALAÇAO DE ANTENAS.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/Lei_3534-03-_INSTALACAO_DE_ANTENAS.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Lei 3839 - Caderneta de obras.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/Lei_3839_-_Caderneta_de_obras.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>



                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Lei delimita o perimetro urbano.pdf</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/lei_delimita_o_perimetro_urbano.pdf.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>




                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Lei 2484 1993 -Parcelamento do Solo(sem anexos).doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/Lei_2484_1993_-Parcelamento_do_Solo(sem_anexos).doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Lei 3137-99 loteamentos fechados condominiais de chácars ou sitio de recreio.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/Lei_3137-99_loteamentos_fechados_condominiais_de_chacars_ou_sitio_de_recreio.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">3941 - Lei do Plano Diretor 2006.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/3941_-_Lei_do_Plano_Diretor_2006.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Lei parcelamento do solo anexos.pdf</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/lei_parcelamento_do_solo_anexos.pdf.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Normas para o habite-se.pdf</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/narmas_para_o_habite-se.pdf.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Lei 3216-00 denominaçao logradouros.pdf</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/Lei_3216-00_denominacao_logradouros.pdf.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">3941 - Anexo III plano diretor camara.doc</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/3941_-_Anexo_III_plano_diretor_camara.doc.doc"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>

                    </tr>
                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Codigo de obras Lei 856 de 23-11-1964.pdf</td>
                        <td class="col-lg-1"><a href="~/Arquivos/TermoCon/codigo_de_obras_Lei_856_de_23-11-1964.pdf.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>

                    </tr>




                </tbody>
            </table>
        </div>




    </div>

</div>

