
@{
    ViewBag.Title = "AreaAzul";
    Layout = "~/Views/_MasterPrincipal.cshtml";
}

<div class="row">
    <div class="col-md-11 col-lg-11 col-sm-11  col-lg-offset-1  font_telefones alinhar_esquerda_telefone" style="margin-left:6%">

        <div class="font_destaque bg_faixa col-lg-11 col-md-11 col-sm-11">
            <span class="h3" style="margin-bottom:30px; margin-top:30px;">Leis do Edital da Area Azul</span>
        </div>
        <br />


        <!--Tabela 1-->
        <div class="col-md-11 col-lg-11 col-sm-11   font_telefones alinhar_esquerda_telefone" style="margin-top:10px;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-lg-2">Data Publicacão</th>
                        <th class="col-lg-8">Nome Arquivo</th>
                        <th class="col-lg-1">Download</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Decreto 843</td>
                        <td class="col-lg-1"><a href="~/Arquivos/AreaAzul/Decreto843.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">18/07/2016</td>
                        <td class="col-lg-8">Lei N°. 4.374, de 27 de Fevereiro de 2012 - Estacionamento Rotativo</td>
                        <td class="col-lg-1"><a href="#"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                    </tr>

                    




                </tbody>
            </table>
        </div>




    </div>

</div>

