@{
    ViewBag.Title = "Manutencao";
    Layout = "~/Views/_MasterPrincipal.cshtml";
}

<div class="container-fluid">



    <div class="row">

        <!--MENU-->

        <div class="col-lg-12 col-md-21 col-sm-12 alinhar_esquerda">          
              <img class="img-responsive" src="~/IMG/manutencao.jpg" width="800" height="600" />
      
        </div>
    </div>
