
@{
    ViewBag.Title = "PaginaAlterarNoticia";
    Layout = "~/Views/_MasterPageAdmin.cshtml";
}

<script src="~/scripts/tinymce/jquery.tinymce.min.js"></script>
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script src="~/scripts/tinymce/plugins/advlist/plugin.min.js"></script>
<script src="~/scripts/tinymce/plugins/image/plugin.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript" language="javascript"></script>
<script src="//github.com/fyneworks/multifile/blob/master/jQuery.MultiFile.min.js" type="text/javascript" language="javascript"></script>

<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
    // Initialize your tinyMCE Editor with your preferred options

    tinymce.init({
        selector: 'textarea',
        height: 500,
        theme: 'modern',
        plugins: [
          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime media nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern imagetools'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        templates: [
          { title: 'Test template 1', content: 'Test 1' },
          { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
          '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
          '//www.tinymce.com/css/codepen.min.css'
        ]
    });
</script>



<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg></a></li>
            <li class="active">Alterar Banner/Pagina de Alteração</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Alterar de Banner</h1>
            <h5 class="page-header">@ViewBag.erro </h5>
        </div>
    </div><!--/.row-->


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Banner</div>
                <div class="panel-body">
                    <div class="col-md-8">

                        @using (Html.BeginForm("PaginaAlterarNoticia", "Banner", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Id</label>
                                <input name="Id" id="Id" class="form-control" readonly="readonly" value="@ViewBag.Noticia.Id">
                                <label>Titulo</label>
                                <input name="titulo" id="titulo" class="form-control" placeholder="Titulo" value="@ViewBag.Noticia.Titulo">
                            </div>


                            <div class="form-group">
                                <label>Corpo</label>
                                <textarea name="corpo" id="corpo" class="form-control" rows="3">@ViewBag.Noticia.Corpo</textarea>
                            </div>



                            <button type="submit" class="btn btn-primary">Alterar Banner</button>
                            <button type="reset" class="btn btn-default">Limpar Campos</button>
                        }
                    </div>




                </div>

            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->


