@{
    ViewBag.Title = "EmissaoAlvara";
    Layout = "~/Views/_MasterPrincipal.cshtml";

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

}

<div class="col-lg-12 col-md-12 col-sm-12" style="background-color:#012B43; margin-bottom:20px; margin-top:20px; height:60px;">
    <span class="h3" style=" float:left; margin-top:14px; margin-bottom:10px; margin-left:319px; color:white;    font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:30px;">Emissão de alvara</span>
</div>
<br />
<center>
    <div class="row" style="margin-left:20%;">
        <div class="col-md-10 col-lg-10 col-sm-10">


            <!--Tabela 1-->
            <div class="col-md-11 col-lg-11 col-sm-11   font_telefones alinhar_esquerda_telefone" style="margin-top:10px;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-lg-2">Data Publicacão</th>
                            <th class="col-lg-8">Nome Arquivo</th>
                            <th class="col-lg-1">Download</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Academia de Ginástica</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Academia de Ginástica.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Atividade Odontológica</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Atividade Odontológica.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Atividade Veterinária</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Atividade Veterinária.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Atividades de Fisioterapia</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Atividades de Fisioterapia.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Clube Desportivo e Sauna</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Clube Desportivo e Sauna.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>



                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Comércio Atacadista de Cosméticos e de Higiene Pessoal e Saneantes</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Atacadista de Cosméticos e de Higiene Pessoal e Saneantes.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Comércio Atacadista de Produtos para Saúde</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Atacadista de Produtos para Saúde.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>



                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Comércio Varejista de Alimentos</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Varejista de Alimentos.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Comércio Varejista de Cosméticos e de Higiene Pessoal e Saneantes</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Varejista de Cosméticos e de Higiene Pessoal e Saneantes.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Comércio Varejista de Suplementos Alimentares</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Comércio Varejista de Suplementos Alimentares.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Consultório de Profissional da Saúde</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Consultório de Profissional da Saúde.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Creche e Estabelecimento de Ensino</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Creche e Estabelecimento de Ensino.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Farmácia, Drogaria e Distribuidora de Medicamentos</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Farmácia, Drogaria e Distribuidora de Medicamentos.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">HospitaL, Clínica e Ambulatório</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/HospitaL, Clínica e Ambulatório.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Hotel, Motel, Pensão e similares</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Hotel, Motel,  Pensão e similares.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>


                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Indústria de Alimentos</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Indústria de Alimentos.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Indústria de Cosméticos</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Indústria de Cosméticos.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Indústria e Distribuidora de Domissanitários</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Indústria e Distribuidora de Domissanitários.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Laboratório de Análises Clínicas e Posto de Coleta</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Laboratório de Análises Clínicas e Posto de Coleta.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Lavanderia</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Lavanderia.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Ópticas</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Ópticas.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Salão de Beleza</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Salão de Beleza.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Serviço de Controle de Pragas</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Serviço de Controle de Pragas.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Serviço de Limpeza</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Serviço de Limpeza.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Serviços de Prótese Dentária</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Serviços de Prótese Dentária.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>

                        <tr>
                            <td class="col-lg-2">18/07/2016</td>
                            <td class="col-lg-8">Serviços Funerários</td>
                            <td class="col-lg-1"><a href="~/Arquivos/Alvara/Serviços Funerários.pdf"><span class="glyphicon glyphicon-download col-lg-12" aria-hidden="true"></span></a></td>
                        </tr>




                    </tbody>
                </table>
            </div>




        </div>

    </div>

</center>
